{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <h3 class="text-center mb-3">Criar Conta</h3>
    <form method="post" class="card p-4 shadow">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="d-grid mt-2">
        <button class="btn btn-success" type="submit">Cadastrar</button>
      </div>
    </form>
    <div class="text-center mt-3">
      <p>Já tem conta? <a href="{% url 'login' %}">Entrar</a></p>
    </div>
  </div>
</div>
{% endblock %}
